# config/packages/security.yaml
security:
    password_hashers:
        App\Entity\Client:
            algorithm: auto
        App\Entity\Employe:
            algorithm: auto
    role_hierarchy:
        ROLE_ADMIN: ROLE_USER

    providers:
        chain_provider:
            chain:
                providers: [client_provider, employe_provider]
        client_provider:
            entity:
                class: App\Entity\Client
                property: email
        employe_provider:
            entity:
                class: App\Entity\Employe
                property: nom

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            provider: chain_provider
            form_login:
                login_path: login
                check_path: login
                default_target_path: dashboard
            logout:
                path: logout
                target: login
            lazy: true
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800  # 1 semaine en secondes
                path: /
                name: REMEMBERME

    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/dashboard, roles: ROLE_USER }












   









