{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-5">{{ categorie.nom }}</h1>
    <div class="row mt-4">
        {% if sousCategories is not empty %}
            {% set nomsAffiches = [] %}
            {% for sousCategorie in sousCategories %}
                {% if sousCategorie.nom not in nomsAffiches %}
                    {% set nomsAffiches = nomsAffiches|merge([sousCategorie.nom]) %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card mb-4 shadow-sm">
                            {% if sousCategorie.getImage() %}
                                <img src="{{ sousCategorie.getImage() }}" class="card-img-top" alt="{{ sousCategorie.getNom() }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ sousCategorie.getNom() }}</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Aucune sous-catégorie trouvée.</p>
        {% endif %}
    </div>
{% endblock %}





