{# templates/main/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil</h1>
    <p>Cette page est accessible à tout le monde.</p>
{% endblock %}

