{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container-profil mt-5"> <!-- Augmenté la classe mt-5 à mt-5 -->
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Profil de {{ user.prenom }} {{ user.nom }}</h1>
            <dl class="row">
                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">{{ user.email }}</dd>
                {# Ajoutez d'autres champs de profil ici si nécessaire #}
            </dl>
        </div>
    </div>
</div>
{% endblock %}



