{# templates/commande/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Commande réussie{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-success">
        {{ message }}
    </div>
</div>
{% endblock %}
