{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Résultats de la recherche</h1>

        <p class="text-center">Vous avez recherché : <strong>{{ searchTerm }}</strong></p>

        {% if resultats is not empty %}
            <div class="row">
                {% for categorie in resultats %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{ categorie.image }}" class="card-img-top" alt="{{ categorie.nom }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ categorie.nom }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">Aucun résultat trouvé pour votre recherche.</p>
        {% endif %}
    </div>
{% endblock %}







