{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résultats de la recherche</h1>

    <p>Vous avez recherché : {{ searchTerm }}</p>

    {% if resultats is not empty %}
        <ul>
            {% for categorie in resultats %}
                <li>{{ categorie.nom }}</li>
                {% if categorie.sousCategories is not empty %}
                    <ul>
                        {% for sousCategorie in categorie.sousCategories %}
                            <li>{{ sousCategorie.nom }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat trouvé pour votre recherche.</p>
    {% endif %}
{% endblock %}






