{# templates/search/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
    <h1>Résultats de la recherche pour "{{ query }}"</h1>

    <div class="row">
        {% if results %}
            {% for result in results %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.name }}</h5>
                            <p class="card-text">{{ result.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col">
                <p>Aucun résultat trouvé pour "{{ query }}".</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
