{# templates/search/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résultats de la recherche</h1>

    <p>Recherche pour : <strong>{{ searchTerm }}</strong></p>

    {% if resultats is not empty %}
        <ul>
            {% for resultat in resultats %}
                <li>{{ resultat.nom }}</li> {# Adapter selon votre structure d'entité #}
                {% if resultat.sousCategories is not empty %}
                    <ul>
                        {% for sousCategorie in resultat.sousCategories %}
                            <li>{{ sousCategorie.nom }}</li> {# Adapter selon votre structure d'entité #}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat trouvé pour votre recherche.</p>
    {% endif %}
{% endblock %}
