/* Global styles */
html, body {
    font-family: Arial, sans-serif;
    text-size-adjust: 100%; /* Pour les navigateurs modernes */
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; /* Assure que la hauteur minimale est de 100% de la vue */
    background-attachment: fixed;
}

.footer-opaque {
    background: #343a40;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh; /* Ajustez selon votre besoin, assurez-vous que cela correspond à un calcul en vh pour l'exemple */
}

.bg-main-content {
    background-color: rgba(255, 235, 205, 0.6); /* blanchedalmond avec 80% d'opacité */
    padding: 20px; /* Ajoute un padding pour éviter que le contenu touche les bords */
    border-radius: 10px; /* Optionnel : pour des coins arrondis */
    flex: 1; /* Permet au contenu principal de s'étendre pour remplir l'espace disponible */
    margin-bottom: 20vh; /* Ajoute une marge au bas pour éviter le chevauchement avec le footer */
    overflow-y: auto; /* Permet le défilement si nécessaire */
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Ajustez l'échelle selon vos préférences */
}

.card a {
    text-decoration: none; /* Retire la décoration de lien */
    color: inherit; /* Utilise la couleur parente par défaut */
    transition: color 0.3s ease; /* Ajoute une transition pour le changement de couleur */
}

.card a:hover {
    color: green; /* Change la couleur au survol */
}






