/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    text-size-adjust: 100%; /* Pour les navigateurs modernes */
}

/* Contenu principal */
body {
    display: flex;
    flex-direction: column;
    background-color:bisque;
}

.main-content {
    flex: 1;
}

/* Footer */
footer {
    background-color: transparent;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

.bg-main-content {
    background-color: blanchedalmond;
    padding: 20px; /* Ajoute un padding pour éviter que le contenu touche les bords */
    border-radius: 10px; /* Optionnel : pour des coins arrondis */
}






