{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Dashboard de {{ app.user.nom }}</h1>

                <dl class="text-center">
                    <dt>Email:</dt>
                    <dd>{{ app.user.email }}</dd>
                    {# Ajoutez d'autres champs de profil ici #}
                </dl>
            </div>
        </div>
    </div>
{% endblock %}






